<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>event</key>
	<dict>
		<key>controller</key>
		<string>EventViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>活动页</string>
	</dict>
	<key>eventdetail</key>
	<dict>
		<key>controller</key>
		<string>EventDetailViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>活动详情页</string>
	</dict>
	<key>home</key>
	<dict>
		<key>controller</key>
		<string>HomeViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>首页</string>
	</dict>
	<key>web</key>
	<dict>
		<key>controller</key>
		<string>WebViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>活动web页面</string>
	</dict>
	<key>login</key>
	<dict>
		<key>controller</key>
		<string>LoginViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>登录页</string>
	</dict>
	<key>register</key>
	<dict>
		<key>controller</key>
		<string>RegisterViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>注册页</string>
	</dict>
	<key>feedback</key>
	<dict>
		<key>controller</key>
		<string>FeedbackViewController</string>
		<key>needlogin</key>
		<false/>
		<key>desc</key>
		<string>意见反馈页</string>
	</dict>
</dict>
</plist>
